# VS Code
**/.vscode

# Code / Output Related
**/bin/
**/target
**/build

# Development Server Related
**/server
!**/server/README.md
!**/server/server.properties
!**/server/eula.txt
!**/server/run.bat